
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialtracker">
    <application android:allowBackup="true" android:label="Social Tracker" android:theme="@style/Theme.App">
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
